html,
main,
body {
  background-color: #f5c7ca;
  height: 100%;
  font-family: "dynapuff", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.nav {
  background-color: #CFE8F3;
  position: sticky;
  font-family: "dynapuff", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4vh;
}

.intro {
  font-size: 2vh;
  background-color: #FFE3B3;

}

.intro2 {
  font-size: 6vh;
  padding-top: 10px;

}


.card {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5c7ca;
  border: none;
}

.card-body {
  background-color: #C2E7DA;
  border: 10px solid #98D7C1;
  border-radius: 5px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-radius: 0;
  background-color: #f5c7ca;
}


.map-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 60vh;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #6aa4fc;
  border-radius: 12px;
  margin-bottom: 10px;
}


/* START FLIP CARDS | FOUND ON W3 SCHOOLS, LINK WHERE FOUND IN HTML */


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  text-align: center;

}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;

}



.flip-card-back {
  color: white;
  font-size: 20px;
  height: 300px;
  width: 300px;
  text-align: center;
  transform: rotateY(180deg);
}

.flip-card-back,
h2 {
  color: #C36346;
}


/* END FLIP CARDS */


.carousel-img {
  height: 250px;
  object-fit: contain;
  background-color: #f5c7ca;
}




.image-overlay-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.image-overlay-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  border-radius: 3px;
}


.image-overlay-text {
  position: absolute;
  bottom: 0;
  background: #f89ba19a;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s ease;
}


.image-overlay-container:hover .image-overlay-text {
  opacity: 1;
}



footer {
  background-color: #c4bbe6;
position: fixed;
  bottom: 0;
  width: 100%;
  margin-top:20px;
}

a {
  text-decoration: none;

}